@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist;

<h1>Stylist Details:</h1>
<div class="container-fluid">
  @using (Html.BeginForm())
  {
    <div class ="form-group">
      @Html.HiddenFor(model => model.StylistId)
      <h4>Name</h4>
      @Html.EditorFor(model => model.Name, new{@class="form-control"})
      <h4>About</h4>
      @Html.EditorFor(model => model.About, new{@class="form-control"})
      <br>
      <input type="submit" value="Save" class="btn btn-secondary" />
      <input type="button" value="Cancel" onclick="location.href='@Url.Action("Show", "Stylists", new {id = Model.StylistId})';" class="btn btn-secondary" />
    </div>
  }

  <div class="bottom">
    <p>@Html.ActionLink("Clients", "Index", "Clients") || @Html.ActionLink("Stylists", "Index") || @Html.ActionLink("Home", "Index", "Home")</p>
  </div>
</div>