@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<h1>Stylist Details:</h1>
<div class="container">
  <h5><strong>Name:</strong> @Html.DisplayFor(model => model.Name)</h5>
  <h5><strong>About:</strong> @Html.DisplayFor(model => model.About)</h5>
  <h5><strong>Hire Date:</strong> @Html.DisplayFor(model => model.HireDate)</h5>
  <h5><strong>Clients:</strong></h5>
  <ul>
    @if(Model.Clients.Count == 0)
    {
      <p>No Clients Found</p>
    }
    @foreach (Client client in @Model.Clients)
    {
      <li>@Html.ActionLink($"{client.Name}", "Show", "Clients", new {id = client.ClientId})</li>
    }
  </ul>
  <h5>
    <input type="button" value="Edit" onclick="location.href='@Url.Action("Edit", "Stylists", new {id = Model.StylistId})';" class="btn btn-secondary" />
    <input type="button" value="Delete" onclick="location.href='@Url.Action("Delete", "Stylists", new {id = Model.StylistId})';" class="btn btn-secondary" />
  </h5>

  <div class="bottom">
    <p>@Html.ActionLink("Clients", "Index", "Clients") || @Html.ActionLink("Stylists", "Index") || @Html.ActionLink("Home", "Index", "Home")</p>
  </div>
</div>  