@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Client;

<h1 class="jumbotron">Client Details:</h1>
<div class="container">
  <h5><strong>Name:</strong> @Html.DisplayFor(model => model.Name)</h5>
  <h5><strong>Phone Number:</strong> @Html.DisplayFor(model => model.PhoneNumber)</h5>
  <h5><strong>Hair Style Preference:</strong> @Html.DisplayFor(model => model.HairStyle)</h5>
  <h5><strong>Stylist:</strong> @Html.ActionLink($"{Model.Stylist.Name}", "Show", "Stylists", new {id = Model.StylistId})</h5>
  <h5>
    <input type="button" value="Edit" onclick="location.href='@Url.Action("Edit", "Clients", new {id = Model.ClientId})';" class="btn btn-secondary" />
    <input type="button" value="Delete" onclick="location.href='@Url.Action("Delete", "Clients", new {id = Model.ClientId})';" class="btn btn-secondary" />
  </h5>

  <div class="bottom">
    <p>@Html.ActionLink("Clients", "Index") || @Html.ActionLink("Stylists", "Index", "Stylists") || @Html.ActionLink("Home", "Index", "Home")</p>
  </div>
</div>  