@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Client;

<h1>Client Details:</h1>
<div class="container-fluid">
  <h5><strong>Name:</strong> @Html.DisplayFor(model => model.Name)</h5>
  <h5><strong>Phone Number:</strong> @Html.DisplayFor(model => model.PhoneNumber)</h5>
  <h5><strong>Hair Style Preference:</strong> @Html.DisplayFor(model => model.HairStyle)</h5>
  <h5><strong>Stylist:</strong> @Html.ActionLink($"{Model.Stylist.Name}", "Show", "Stylists", new {id = Model.StylistId})</h5>
  <h5>@Html.ActionLink("Edit", "Edit", new {id = Model.ClientId}) || @Html.ActionLink("Delete", "Delete", new {id = Model.ClientId})</h5>

  <div class="bottom">
    <p>@Html.ActionLink("Clients", "Index") || @Html.ActionLink("Stylists", "Index", "Stylists") || @Html.ActionLink("Home", "Index", "Home")</p>
  </div>
</div>  